.recent-calendar-container {
  max-width: 400px; /* 최대 너비를 조정하여 화면에 일부만 보이도록 설정 */
  width: 85vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* 날짜 카드 래퍼 스타일 수정: 가로 스크롤 추가 */
.recent-dates-wrapper {
  display: flex;
  padding-bottom: 10px; /* 스크롤 바와의 간격 */
  gap: 10px;
  margin-bottom: 20px;
  scrollbar-width: thin; /* Firefox용 */
  -ms-overflow-style: none; /* IE, Edge용 */
}

.recent-dates-wrapper::-webkit-scrollbar {
  height: 8px;
}

.recent-dates-wrapper::-webkit-scrollbar-thumb {
  background-color: #A2D8FF;
  border-radius: 4px;
}

.date-card {
  flex: 0 0 auto;
  min-width: 100px; /* 각 카드의 최소 너비 설정 */
  width: 120px; /* 각 카드의 너비를 설정 */
  height: auto; /* 각 카드의 고정 높이 설정 */
  padding: 15px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex; /* 내부 콘텐츠 정렬을 위한 설정 */
  flex-direction: column; /* 위에서 아래로 정렬 */
  justify-content: space-between; /* 상하 균등 분포 */
  align-items: center; /* 중앙 정렬 */
}


.date-card.selected {
  background-color: #99ccff; /* 연한 파란색으로 변경 */
  color: #fff;
  border-color: #99ccff;
}

.date-card:hover {
  background-color: #e6e6e6;
}

.date {
  font-weight: bold;
  margin-bottom: 10px;
}


.activities {
  margin-top: 8px;
  width: 100%; /* 활동 리스트 너비를 전체로 설정 */
  display: flex;
  flex-wrap: wrap; /* 여러 개의 아이템이 있을 때 줄 바꿈 */
  gap: 5px; /* 각 아이템 사이의 간격 줄임 */
  justify-content: center; /* 가운데 정렬 */
}

.activity-item {
  background-color: #A2D8FF;
  color: #ffffff;
  padding: 2px 5px; /* 패딩 줄여서 글자 크기와 맞춤 */
  border-radius: 5px;
  font-size: 10px; /* 글자 크기 줄이기 */
  white-space: nowrap; /* 한 줄로 표시 */
  margin-top: 2px; /* 일정 간 간격 줄이기 */
}

.delete-button {
  background: #d3d3d3; /* 연한 회색 */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px; /* 다른 버튼들과의 간격 */
  width: auto;
  text-align: center;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background: #c0c0c0; /* 호버 시 조금 더 진한 회색 */
}

/* 삭제 버튼 스타일 */
.delete-modal-button {
  background: #d3d3d3; /* 연한 회색 */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 10px; /* 내부 여백 줄이기 */
  cursor: pointer;
  margin-top: 10px; /* 위쪽 버튼들과 간격 추가 */
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 14px; /* 글씨 크기 조정 */
  width: 80px; /* 버튼 크기를 내용에 맞게 조정 */
}

.delete-modal-button:hover {
  background: #c0c0c0; /* 호버 시 조금 더 진한 회색 */
}


.activity-options {
  margin-top: 20px;
}

.activity-options button {
  background-color: #A2D8FF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activity-options button:hover {
  background-color: #A2D8FF;
}

.edit-button {
  position: absolute;
  top: -10px;
  left: -15px;
  background: rgb(255 255 255 / 92%);
  color: white;
  border: none;
  border-radius: 60%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모달 콘텐츠 스타일 */
.react-modal-content {
  width: 300px;
  max-width: 90%;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

/* 모달 버튼들 */
.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.modal-buttons button {
  background-color: #5d68c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #A2D8FF;
}

/* 취소 버튼 스타일 */
.cancel-button {
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

/* 모달 오버레이 스타일 */
.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.days-of-week, .month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.day-of-week {
  font-weight: bold;
  text-align: center;
}

.month-view-container {
  display: flex;
  flex-direction: column;
}


.month-date-card {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.month-date-card:hover {
  background-color: #e6f7ff; /* 호버 시 색상 */
}

.selected {
  background-color: #99ccff; /* 연한 파란색으로 변경 */
  color: #fff;
  border-color: #99ccff;
}

.month-date-card.selected {
  background-color: #99ccff; /* 연한 파란색으로 변경 */
  color: #fff;
  border-color: #99ccff;
}
