/* recommendation-container 안의 모든 요소들을 가로로 배치 */
.recommendation-container {
  display: flex; /* 가로 정렬을 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-around; /* 자식 요소들을 균등하게 배치 */
  flex-wrap: nowrap; /* 요소들이 넘칠 경우 줄바꿈 */
  padding: 10px; /* 패딩 추가 */
  background-color: white; /* 배경색 추가 (원하는 경우) */
}

.recommendations {
  display: flex;
  flex-direction: column; /* 내부 아이템들은 세로로 정렬 */
  align-items: center; /* 가운데 정렬 */
  margin-right: 20px; /* 오른쪽 간격 추가 */
}

.recommendation-list {
  display: flex; /* 리스트를 가로로 나열하기 위해 flex 사용 */
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 4; /* 패딩 제거 */
  margin: 4; /* 마진 제거 */
}

.recommendations-right {
  display: flex;
  flex-direction: column;
  padding-left: 80px; /* 오른쪽으로 적당한 간격을 유지하기 위한 패딩 추가 */
}

.recommendation-item {
  display: flex;
  flex-direction: column; /* 아이템 내부에서는 세로로 정렬 */
  align-items: center; /* 이미지와 텍스트를 가운데 정렬 */
  margin-right: 15px; /* 아이템 간 간격 추가 */
}

.rain-details-table {
  width: 140%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}

.rain-details-table td, .rain-details-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.rain-details-table .rain-icon {
  width: 50px;
  height: auto;
}

.custom-table .icon-cell {
  width: 20%;
  vertical-align: middle;
}

.custom-table .time-cell {
  width: 40%;
  font-weight: bold;
  vertical-align: middle;
}

.custom-table .precipitation-cell, .custom-table .rainfall-cell {
  width: 20%;
  vertical-align: middle;
}

.custom-table tr {
  text-align: center;
}

.rain-details-table td {
  font-weight: bold;
  color: #333;
}

.snow-icon {
  width: 80px; /* 원하는 너비로 변경 */
  height: 80px; /* 원하는 높이로 변경 */
}

.rain-icon {
  width: 60px; /* 동일한 크기 설정 */
  height: 60px;
}
