@font-face { 
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-title{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 30px;
    margin-left: 8%;
    text-shadow: 5px 5px rgb(255, 255, 255), 0px 1px rgb(255, 255, 255), 1px 0px rgb(255, 255, 255), 0px -1px rgb(255, 255, 255);

}

.header-container{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
    text-align: right;
    margin-right: 4%;
}

hr.hr-5 {
    border: 0;
    border-top: 3px double #526b916d;
    margin-left: 5%;
  }

.header-nickname{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffffa8;
    padding: 5%;
    border-radius: 10px;
}