@font-face { 
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    overflow: hidden;
}

.TopNav_container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    position: fixed;
    background-color: #fff;
    color: #5ba3ff;
    font-size: 20px;
    font-family: 'NEXONFootballGothicBA1';

    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999;
    box-shadow: 0px 0px 0px 1.5px rgb(212, 212, 212);

    align-items: center;
}

.TopNav_title{
    position: fixed;
    right: 10px;
    font-family: 'PyeongChangPeace-Bold';
    font-size: 27px;
}

.TopNav_text{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    font-size: 20px;
}

nav>div {
    /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
    text-align: center;
    float: left;
    width: 20%;

    /* 세로길이 설정 */
    height: 45px;
    line-height: 45px;
}
