/* 모바일 화면 */
@media (max-width: 576px) {
  .centered-content {
      width: 90vw;
      height: auto;
      padding: 5%;
  }

  .primary-button-lg {
      width: 100%;
      padding: 10px;
  }
}

/* 태블릿 화면 */
@media (min-width: 576px) and (max-width: 768px) {
  .centered-content {
      width: 80vw;
      height: auto;
      padding: 8%;
  }

  .primary-button-lg {
      font-size: 14px;
      padding: 8px;
  }
}

body {
  background-color: #C1D0D4;
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 150vh; */
  /* max-width: 600px; */
  min-height: 100vh;
  padding: 3%;
}

.centered-content {
  display: grid;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  max-width: 800px;
  align-items: start;
  width: fit-content;
  height: fit-content;
  /* max-width: 800px; */ text-align: center;
  /* background-color: #dde7e7; */
  background-color: #dde7e7; 
  padding: 10%;
}

.kakao-sign-in-button {
  width: 56px;
  height: 56px;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image : url(assets/images/kakao.png);
  
  cursor:pointer;
  }
  
  .naver-sign-in-button {
  width: 56px;
  height: 56px;
  
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image : url(assets/images/naver.png);
  
  cursor:pointer;
  }

  .primary-button-lg {
    border-radius: 6px;
    padding: 8px 24px;
    
    box-sizing: border-box;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(58,87,232,1);
  
    color: rgba(255,255,255,1);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
  
    cursor: pointer;
  
  }
  
  .primary-button-lg:hover {
    opacity: 0.95;
  }
  
  .disable-button-lg {
    border-radius: 6px;
    padding: 8px 24px;
    
    box-sizing: border-box;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(138,146,166,1);
  
    color: rgba(255,255,255,1);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
  
    cursor: default;
  
  }
  
  .text-link-lg {
    box-sizing: border-box;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    color: rgba(113,113, 113, 1);
  
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
  
    cursor: pointer;
  }
  
  .text-link-lg:hover {
   color: rgba(40,40,4,1);
  }
  
  .full-width {
    width:100%;
  }
  
  .sign-up-content-sns-sign-in-button-box {
    display: flex !important;
    justify-content: center !important;
    gap: 24px !important;
}
.sign-up-content-box {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 12px;
  background-color: white;
}

.sign-up-content-divider{
  border-top: 1px solid rgba(238,238,238,1);
  width: 64px;
}
