@font-face { 
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.title-h1{
    font-family: 'PyeongChangPeace-Bold';
    padding: 10%;
    text-shadow: 5px 5px rgb(255, 255, 255), 0px 1px rgb(255, 255, 255), 1px 0px rgb(255, 255, 255), 0px -1px rgb(255, 255, 255);

}

.main-div{
    display: grid;
    /* background-color: #C1D0D4; */
    /* padding: 10%; */
    height: 80vh;
    width: 80vw;
    justify-items: center;
    align-items: top;
}

.div-box{
    display: grid;
    width: 30vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}