@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


#sign-in-wrapper {
    width: 100vw;
    min-width: 1440px;
    height: 100vh;
    min-height: 512px;
    display: flex;


}


.sign-up-image {
    width: 630px;
    background-position: 50% 50%;
    background-size: 50% 50%;
    background-image: url(assets/images/sign-up-image.png);
}


.sign-up-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}


.sign-up-box {
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 24px;
    margin-top: -40px;}


.sign-up-title {
    color: rgb(255, 255, 255);


    display: flex;
    justify-content: center;


    font-size: 30px;
    font-weight: 700;
    line-height: 173%;
}


.title-div {
    font-family: 'PyeongChangPeace-Bold';
    padding: 20px 10%;
    /* 위아래 20px 패딩을 추가하고 양옆은 기존 10%로 유지 */
    text-shadow: 5px 5px rgb(255, 255, 255), 0px 1px rgb(255, 255, 255), 1px 0px rgb(255, 255, 255), 0px -1px rgb(255, 255, 255);
}




.sign-up-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


.sign-up-content-sns-sign-in-box {
    display: flex !important;
    flex-direction: column !important;
    /* 원하는 방향으로 설정 */
    align-items: center !important;
    gap: 16px !important
}


.sign-up-content-sns-sign-in-title {
    color: rgba(138, 146, 166, 1);


    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}


.sign-up-content-sns-sign-in-button-box {
    display: flex;
    gap: 24px;
}


.sign-up-content-divider {
    border-top: 1px solid rgb(195 195 195);
    width: 70%;
}


.sign-up-content-input-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.sign-up-content-button-box {
    width: 100%;


    display: flex;
    flex-direction: column;


    gap: 16px;
}