@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.addUser-content{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.extra-info-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  display: grid;
  justify-content: left;
}

.form-group {
  margin-bottom: 20px;
}

.age-input-group {
  display: grid;
  align-items: center;
  gap: 10px;
}

.gender-buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: 90px 90px;
}

.gender-buttons button {
  padding: 8px 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.gender-buttons button.active {
  border-color: #007bff;
}

.height-weight-group {
  display: grid;
  gap: 10px;
  width: 90%;
}

.height-weight-group input {
  flex: 1;
}

.addUser-form-label{
  display: grid;
  justify-content: left;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.addUser-text-first{
  margin-left: 15px;
  margin-right: 15px;
}