.delete_container{
    display: grid;
    width: 90vw;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 10px;
}

.delete_input{
    border: solid 1.6px #7897f58a;
    border-radius:10px;
    background-color:#ffffff;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
    height: 29px;
}

.delete_button{
    font-size: 14px;
}

.delete-form-container{
    /* background-color: #ffffff; */
}