@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.myPage-all-container{
  width: 90vw;
  /* min-width: 300px; */
  display: grid;
  /* margin-bottom: 10px; */
  background-color: #ffffff;
  border-radius: 10px;
}

.myPage-title{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 700;
    font-size: 30px;
}

.myPage-container{
  line-height:200%;
  display: grid;
  text-align-last: left;
  margin-left: 12%;
}

.myPage-container-title{
  font-family: 'NEXON Lv1 Gothic OTF';
  font-weight: 700;
  font-size: large;
  margin-bottom: 10%;
}

.myPage-container-content{
  font-family: 'NEXON Lv2 Gothic';
  border: solid 1.6px #7897f58a;
  border-radius:10px;
  background-color:#ffffff;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 40px;
  display: grid;
  font-size: larger;
  margin-bottom: 11px;
  /* padding: 1%; */
}

.myPage-container-content_social{
  font-family: 'NEXON Lv2 Gothic';
  border: solid 1.6px #7897f58a;
  border-radius:10px;
  background-color:#ffffff;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  font-size: larger;
  margin-bottom: -4px;
}

.myPage-container-button{
  display: flex;
  column-gap: 10px;
  margin-left: 15%;
}

.hr{
  width: 50px;
}