
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: #96aaaa;
  padding: 10%;
  text-align: center;
}