img {
    object-fit: cover;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.image-item {
    width: 120%;
    height: 120%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}
    

.image-item.selected img {
    border: 5px solid #00BCCD;
    z-index: 100;
}

img{
    width: 70%;
    height: 80%;
}
