.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
}

.image-item.selected img {
    border: 5px solid #00BCCD;
}
