@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.rec-title {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 30px;
    font-weight: 900;

}

.recview-back {
    /* background-color: #E0E7E7; */
    display: grid;
    /* padding: 10%; */
    width: 90vw;
    /* height: 100vh; */
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.recView-text {
    font-family: 'NEXON Lv2 Gothic';
    text-align: justify;
    text-align-last: right;
    font-size: 20px;
    font-weight: 300;
}


.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    max-width: 300px;
    max-height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 200;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.modal-button {
    width: 5%;
    height: 5%;
    justify-content: center;
}

.modal-title {
    font-family: 'NEXON Lv1 Gothic OTF';
}

.rec_background {
    display: grid;
    margin-top: 10%;
    /* background-color: #bcbcbc; */
    color: #ffffff;
    font-size: 17px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.rec_list {
    list-style-type: none;
    line-height: 250%;
}

hr.hr-2 {
    border: 0;
    border-bottom: 2px dashed #eee;
    background: #999;
}

.dropdown-container-context {
    font-family: 'NEXON Lv2 Gothic';
}

/* .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    background-color: #7DCAEA;
    color: white;
    font-weight: bold;
    border-color: #7DCAEA;
} */