.recview-back{
    /* background-color: #E0E7E7; */
    display: contents;
    padding: 10%;
    width: 60vw;
    height: 100vh;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.rec_background{
    display: grid;
    margin-top: 10%;
    /* background-color: #bcbcbc; */
    color: #ffffff;
    font-size: 14px;
}

.rec_list{
    list-style-type: none;
    line-height: 250%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    background-color: #7DCAEA;
    color: white;
    font-weight: bold;
    border-color: #7DCAEA;
}