@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
.result-title{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 900;
}

.result-container{
    display: grid;
    width: 90vw;
    margin-bottom: 20px;;
    justify-items: center;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 10px;

}

.result-content-main{
    padding: 5%;
}

.result-content-button{
    font-size: 13px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.result-real-button{
    border-color: #7AA2F7 ;
}

.result-repeat-button{
    font-size: 20px;
    color: #fff;
    border-color: #7AA2F7;
    background: #7AA2F7;
    border: solid 1px;
    border-radius: 10px;
    padding: 5px 8px 0px 8px;
    margin-bottom: 20px;
}

.repeat-text{
    margin-top: -13px;
    margin-bottom: 22px;
    font-size: 13px;
    color: black;

}