.weather-chart-container {
  margin-top: 20px;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.chart-container {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-hour {
  text-align: center;
  min-width: 65px;
  margin: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.weather-hour-time, .weather-hour-precipitation {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.weather-hour-icon {
  width: 24px;
  height: 24px;
  margin: 5px auto; /* Change from 5px 0 to 5px auto */ 
  display: block; /* Ensure the icon is treated as a block element */
}

.prev-button, .next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #333;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px;
  border-radius: 30%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
}

.prev-button {
  left: 5px; /* 왼쪽 버튼 위치 조정 */
}

.next-button {
  right: 5px; /* 오른쪽 버튼 위치 조정 */
}

.temperature-labels {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.temperature-label {
  font-size: 16px;
  color: #333;
}

.current-weather {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  gap: 24px;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.temp-details {
  font-size: 16px;
}

.weather-status {
  font-size: 14px;
  color: #888;
}

.current-location {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}

