.weather-chart-container {
    margin-top: 20px;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
  }
  
  
  .chart-container {
    position: relative; /* relative로 설정하여 자식 요소의 절대 위치를 기준으로 설정 */
    max-width: 400px; /* 원하는 최대 너비 설정 */
    margin: 0 auto;   /* 중앙 정렬 */
  }
  
  .weather-hour {
    text-align: center;
    min-width: 60px;
  }
  
  
  .weather-hour-time {
    margin: 5px 0;
    font-size: 12px;
    color: #555;
  }
  
  
  .weather-hour-precipitation {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
  }
  
  
  .weather-hour-icon {
    width: 24px;
    height: 24px;
    margin: 5px 0;
  }
  
  
  .next-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    z-index: 1; /* 버튼을 위로 올리기 */
  }
  
  
  .temperature-labels {
    position: absolute;
    top: 20px; /* 그래프 위에 위치 조정 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
    display: flex;
    justify-content: space-between; /* 균등 간격 분배 */
    width: 100%; /* 전체 너비 사용 */
  }
  
  
  .temperature-label {
    font-size: 16px; /* 글씨 크기 조정 */
    color: #333; /* 글씨 색상 */
  }
  
  
  .current-weather {
    display: flex;
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 20px; /* 아래 여백 */
  }
  
  
  
  
  
  
  .weather-info {
    display: flex;
    flex-direction: column; /* 세로 방향으로 쌓이도록 설정 */
  }
  
  
  .current-temp {
    font-size: 20px !important; /* 강제로 적용 */
  }
  
  
  .temp-details {
    font-size: 10px !important; /* 강제로 적용 */
  }
  
  
  .weather-status {
    font-size: 10px !important; /* 강제로 적용 */
  }

  .weather-pollution-container{
    position: relative;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px; 
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 14px;    /* 글씨 크기 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }

  .weather-second-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-feels-container{
    position: relative;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px; 
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 14px;    /* 글씨 크기 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }

  .sun-times{
    position: relative;
    align-items: right;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px; 
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 14px;    /* 글씨 크기 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }