
.first-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-content: center;
  /* padding-left: 1.5%; */
  /* width: 89vw;
  height: 20vh; */
}

.weather-chart-container {
  margin-top: 0;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  transform-origin: center;
}

.line-chart {
  width: 75vw;
  height: 30vh;
  max-width: 600px;
}


.chart-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vw;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  justify-content: center;
  align-items: center;
}


.weather-hour {
  text-align: center;
  min-width: 5vh;
  margin: 0px 10px 10px 10px;
  /* background-color: #f8f8f8; */
  padding: 10px;
  border-radius: 5px;
  font-size: 5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.weather-hour-time,
.weather-hour-precipitation {
  margin: 5px 0;
  font-size: 10px;
  color: #555;
}


.weather-hour-icon {
  width: 24px;
  height: 24px;
  margin: 5px auto;
  /* Change from 5px 0 to 5px auto */
  display: block;
  /* Ensure the icon is treated as a block element */
}


.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #333;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}


.prev-button {
  left: 5px;
  /* 왼쪽 버튼 위치 조정 */
}


.next-button {
  right: 5px;
  /* 오른쪽 버튼 위치 조정 */
}


.temperature-labels {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}


.temperature-label {
  display: grid;
  font-size: 16px;
  color: #333;
}


.current-weather {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 20vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  gap: -10px;
  column-gap: 5px;
  grid-template-columns: 1.5fr 1fr;
  /* grid-column: 1/ span 2;
  grid-row: 1/span 3; */
  grid-template-rows: 60px 1.5fr;
}


.weather-info {
  display: flex;
  flex-direction: column;
}


.current-temp {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
  height: 100%;
}


.temp-details {
  font-size: 16px;
  margin-bottom: -13%;
}


.weather-status {
  font-size: 14px;
  color: #888;
}


.current-location {
  display: grid;
  /* margin: 10px 0; */
  font-size: 11px;
  color: #333;
  text-align: center;
  height: 30%;
}

.weather-feels-container {
  position: relative;
  align-items: left;
  padding: 8px;
  font-size: 14px;
  margin-top: -30%;
}


.weather-pollution-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  margin-top: 2%;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90vw;
  max-width: 640px;
  height: 20vh;
  max-height: 200px;
}

.pollution-table {
  display: table;
  width: 80vw;
  max-width: 600px;
  height: 10vh;
  margin: 0 auto;
  margin-top: 5%;
}

.weather-second-box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.sun-times {
  /* position: relative; */
  align-items: right;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  border-radius: 5px;
  /* 둥근 모서리 */
  font-size: 14px;
  /* 글씨 크기 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 600px;
  align-items: center;
  justify-items: center;
  /* 그림자 효과 */
}

.chatgpt-button {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .current-weather {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 50vw;
    /* 모바일에서 폭을 화면에 맞게 조정 */
    height: auto;
    /* 높이를 자동으로 조정 */
    gap: 10px;
    /* 모바일에서는 여백을 추가 */
    justify-content: center;
  }
}
