@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.weatherChart-container {
  display: grid;
  justify-content: center;
  align-self: center;
  justify-items: center;
}

.first-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  align-content: center;
  /* padding-left: 1.5%; */
  /* width: 89vw;
  height: 20vh; */
  font-family: 'NEXON Lv1 Gothic OTF';
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 5%;
}

.weather-chart-container {
  margin-top: 0;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  transform-origin: center;
}

.line-chart {
  width: 85vw;
  height: 13vh;
  max-width: 600px;
  margin-bottom: 5%;
}

.chart-container {
  position: relative;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vw;
  max-width: 600px;
  margin: 0px auto;
  /* padding: 40px 20px 20px 20px; */
  /* border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; */
  justify-content: center;
  align-items: center;
}

.weather-hour {
  text-align: center;
  min-width: 5vh;
  margin: 0px 15px 10px 10px;
  /* background-color: #f8f8f8; */
  padding: 10px;
  border-radius: 5px;
  font-size: 5rem;
}

.weather-hour-time,
.weather-hour-precipitation .weather-hour-time,
.weather-hour-precipitation {
  margin: 5px 0;
  font-size: 10px;
  color: #555;
}

.weather-hour-icon {
  width: 24px;
  height: 24px;
  margin: 5px auto;
  /* Change from 5px 0 to 5px auto */
  display: block;
  /* Ensure the icon is treated as a block element */
}

.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
  padding: 3px;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15%;
}

.prev-button {
  left: 5px;
  /* 왼쪽 버튼 위치 조정 */
}

.next-button {
  right: 5px;
  /* 오른쪽 버튼 위치 조정 */
}

.temperature-labels {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.temperature-label {
  display: grid;
  font-size: 16px;
  color: #333;
}

.current-weather {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 90%;
  height: 40vh;
  padding: 10px;
  /* border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; */
  gap: -10px;
  column-gap: 5px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 2fr 1.5fr;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 30px;
  font-weight: 700;
  /* margin-right: 20px; */
  height: 100%;
}

.temp-details {
  font-size: 16px;
  margin-bottom: -13%;
}

.weather-status {
  font-size: 13px;
  color: #888;
}

.current-location {
  /* display: grid; */
  /* margin: 10px 0; */
  font-size: 15px;
  color: #333;
  text-align: center;
  height: 30%;
}

.weather-feels-container {
  position: relative;
  align-items: left;
  padding: 8px;
  font-size: 14px;
  margin-top: -30%;
}

.weather-pollution-container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  margin-top: 2%;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 14px;
  width: 75vw;
  max-width: 640px;
  height: 20vh;
  max-height: 200px;
}

.pollution-table {
  display: table;
  width: 80vw;
  max-width: 600px;
  height: 10vh;
  margin: 0 auto;
  margin-top: 5%;
}

.weather-second-box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: fit-content;
}


.sun-times {
  /* position: relative; */
  align-items: right;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  border-radius: 5px;
  /* 둥근 모서리 */
  font-size: 14px;
  /* 글씨 크기 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;

  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 600px;
  align-items: center;
  justify-items: center;
  /* 그림자 효과 */
}

.chatgpt-button {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.weather-icon {}

.sun_Doughnut {
  width: 80vw;
  height: 25vh;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'NEXON Lv2 Gothic';
}

.collapse-content {
  width: 95vw;
  border-radius: 10px;
  font-family: NEXON Lv2 Gothic;
}

.weather-pm2_5-container {
  margin-top: 0;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  transform-origin: center;
}

.weather-pm2_5 {
  text-align: center;
  min-width: 5vh;
  margin: 0px 15px 10px 10px;
  /* background-color: #f8f8f8; */
  padding: 10px;
  border-radius: 5px;
  font-size: 5rem;

}

.weather-hour-all-pm2_5,
.weahter-hour-pm2_5-text {
  margin: 5px 0;
  font-size: 10px;
  color: #555;

}

.weather-pm2_5-icon {
  width: 24px;
  height: 24px;
  margin: 5px auto;
  /* Change from 5px 0 to 5px auto */
  display: block;
  /* Ensure the icon is treated as a block element */

}

.toggle-view-button {
  justify-items: center;
  display: grid;
  /* margin-left: -267px; */
  /* width: 10px; */
  height: 5vh;
  justify-content: center;
  color: rgb(0, 0, 0);
  align-self: flex-start;
  font-size: 13px;
  background: #E8E8F3;
  /* border-color: unset; */
  margin-top: -24px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-toggle{
  margin-top: 0px;
}

.weather-forecast-container{
  display: grid;
    width: 90vw;
    max-width: 610px;
    /* height: 50vh; */
    max-height: 600px;
    /* margin-bottom: 20px; */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(193, 140, 140, 0.1);
    background-color: #fff;
    margin-bottom: 15px;
}

.weather-forecast-item{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.img-forcast{
  width: 30px;
  height: auto;
  object-fit: contain;
}

.forecast-table{
  width: -webkit-fill-available;
}

.td-weekday{
  text-align-last: left;
}

.td-precipiation{
  text-align-last: right;
}

@media (max-width: 576px) {
  .current-weather {
    grid-template-rows: auto;
    width: 90vw;
    height: auto;
    gap: 10px;
    justify-content: center;
  }

  .weather-feels-container {
    /* position: relative; */
    align-items: left;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 5px;
    /* 둥근 모서리 */
    font-size: 14px;
    /* 글씨 크기 */
  }

  .sun-times {
    /* position: relative; */
    align-items: right;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 5px;
    /* 둥근 모서리 */
    font-size: 14px;
    /* 글씨 크기 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 */
  }

  .weather-icon {
    width: 90%;
  }
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 16px 16px;
  display: grid;
  justify-content: center;
}

.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding-top: 4px;
  margin-bottom: 15px;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}